#拡張子で指定
*.log
*.urdf
*.pyc
*.pth

#ディレクトリで指定
/build
/install
/log

/docs
/data

training/weights/*.pth
training/config/dataset.yaml
training/runs
training/dataset/

#ファイル名で指定
.codex
.vscode
__pycache__

#例外ファイルを指定