#拡張子で指定
*.log
*.urdf
*.pyc
*.pt

#ディレクトリで指定
/build
/install
/log

/docs
/data

training/weights/*.pth
training/config/dataset.yaml
training/runs
training/dataset/
deployment/config/topomap/
deployment/weights/*.pt
